{{- define "main" }}
<article class="post-single">
  <div class="post-content no-prose">
    {{- range .Params.linkGroups }}
    <h3>{{ .title }}</h3>
    {{- partial "nav/links.html" .links -}}
    {{- end }}

    {{- with .Params.studyHeading }}
    <h3><a href="{{ .url }}" target="_blank" rel="noopener noreferrer">{{ .title }}</a></h3>
    <blockquote><p>{{ .description }}</p></blockquote>
    {{- end }}
    {{- partial "nav/study-resources.html" .Params.studyResources -}}
  </div>
</article>
{{- end }}
